*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container_div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid red; */
  width: 50%;
  margin: 0 auto;
  gap: 20px;
  }
  
  .btn_group{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .card_container{
    display: flex;
    flex-direction: column;
    background:gainsboro;
    width: 100%;
    gap: 12px;
    padding: 10px;
    border-radius: 10px;
  }
  .card{
    background: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  .card_left{
    display: flex;
    gap:10px;
    justify-content: center;
    align-items: center;
  }
  .card_right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  .task_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
  }
  .task_checkbox{

  }
  .error_text{
color: red;
  }
  